@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Routing Application.</p>
<p>http/localhost/portno/test</p>
<p>http/localhost/portno/dotnetworking</p>
<p>http/localhost/portno/Movie/ReleseDate/11/2023</p>
<p>http/localhost/portno/Movie/ReleseDate/111/20236</p>
<p>http/localhost/portno/mytest/testing</p>
<p>http/localhost/test</p>
<p>http/localhost/portno/test/abc</p>
<p>http/localhost/portno/test/search</p>
<p>http/localhost/portno/test/find</p>
<p>http/localhost/portno/test/abc/5</p>
<p>http/localhost/portno/mytest/abc</p>
<p>http/localhost/portno/mytest/aaa</p>
<p>http/localhost/portno/test/abc</p>
